<%= render partial: "layouts/error", locals: {object: @comment} %>

<h1>Make a comment for the volunteer: </h1>

<%= form_for @comment do |f|%>

    <%= f.label :volunteer_id  %>
    <%= f.collection_select :volunteer_id, User.all.is_not_organization, :id, :name, {:selected=>@commented_user.name } if @commented_user  %>
    
    <%= f.label :event_id %>
    <%= f.collection_select :event_id, Event.all, :id, :name %><br>

    <%= f.label :content %>
    <%= f.text_area :content %><br>

    <%= f.submit %>

<% end %>
