<h1>Sign up</h1>


<%= form_for @user do |f|%>
   
    <% if @user.errors.any?%>
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>

    <% end %>


   <%= f.label :name %></br>
   <%= f.text_field :name %></br>

   <%= f.label :password %></br>
   <%= f.password_field :password %></br>

   <%= f.label :email %></br>
   <%= f.text_field :email %></br>
   <%= f.label :email_confirmation %></br>
   <%= f.text_field :email_confirmation %></br>

   <%= f.submit %>

<% end %>