<h1>Sign up</h1>


<%= form_for @user do |f|%>
  <%= render partial: "layouts/error", locals: {object: @user} %>

   <%= f.label :name %></br>   
   <%= f.text_field :name %></br>

   <%= f.label :password %></br>
   <%= f.password_field :password %></br>

   <%= f.label :email %></br>
   <%= f.text_field :email %></br>
   <%= f.label :email_confirmation %></br>
   <%= f.text_field :email_confirmation %></br>
   
  
   <%= f.label :bio %><br>
   <%= f.text_area :bio %><br>

   <%= f.label :is_organization %>
   <%= f.check_box :is_organization %><br>

   <%= f.submit %>



<% end %>