<h1><%= "Hello #{@user.name}!" %></h1>

<% if @user.is_organization %>
  <%= "#{@user.name}'s make #{@comments.size} comment(s):" %>
<% else %>
  <%= "#{@user.name}'s has #{@comments.size} comment(s):" %>
<% end %>

<% unless @events.empty? %>
<h2>Your events: </h2>
<ul>
  <% @events.each do |e|%>
    <li><%= link_to e.name, event_path(e)%></li>
  <% end %>
  </ul>   
<% end %>

<% unless @comments.empty? %>
  <h2>Your comments: </h2>
  <ul>
    <% @comments.each do |c|%>
      <li><%= link_to c.content, comment_path(c)%><br>
      <%= link_to "Edit", edit_comment_path(c)%> 
      <%= link_to "Delete", c, method: :delete, data: { confirm: "Really?" } %>
      </li>
    <% end %>
  </ul>   
<% end %>

<% if @current_user.is_organization %>
  <%= form_tag("/new_comment") do %>
    <%= hidden_field_tag :volunteer_id, value = @user.id %>
    <%= submit_tag "Comment on this volunteer" %>
  <% end %>
<% end %>








