<h1><%= "Hello #{@user.name}!" %></h1>

<h2>
<% if @user.is_organization %>
  <%= "As an organization, #{@user.name}'s makes #{@comments.size} comment(s)" %>
<% else %>
  <%= "As an volunteer, #{@user.name}'s receives #{@comments.size} comment(s)" %>
<% end %>
</h2>

<% unless @comments.empty? %>
  <ul>
    <% @comments.each do |c|%>
      <li><%= link_to c.content, comment_path(c)%>
      <%= link_to "Edit", edit_comment_path(c)%> 
      <%= link_to "Delete", c, method: :delete, data: { confirm: "Really?" } %>
      </li>
    <% end %>
  </ul>   
<% end %>

<% unless @events.empty? %>
<h2><%= @user.name%>'s events: </h2>
<ul>
  <% @events.each do |e|%>
    <li><%= link_to e.name, event_path(e)%></li>
  <% end %>
  </ul>   
<% end %>

<% if @current_user.is_organization && @current_user != @user %>
  <%= form_tag("/new_comment") do %>
    <%= hidden_field_tag :volunteer_id, value = @user.id %>
    <%= submit_tag "Comment on this volunteer" %>
  <% end %>
<% end %>








