<%= form_for @event do |f|%>
    <% if @event.errors.any?%>
    <h2>
      <%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:
    </h2>

    <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>

<% end %>


    <%= f.label :name, :value=>"Event name" %>
    <%= f.text_field :name%><br>
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, :value=>@user.email %><br>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
    <%= f.label :is_free, "Free?" %>
    <%= f.check_box :is_free %><br>


    <%= f.label "Event address" %><br>
    <%= f.fields_for :locations do |l| %>
        <%= l.label :street_address_1 %>
        <%= l.text_field :street_address_1 %><br>
     
        <%= l.label :street_address_2 %>
        <%= l.text_field :street_address_2 %><br>
     
        <%= l.label :city %>
        <%= l.text_field :city %><br>
     
        <%= l.label :state %>
        <%= l.text_field :state %><br>
     
        <%= l.label :zipcode %>
        <%= l.text_field :zipcode %><br>

    <% end %>


    <%= f.submit%>
<% end %>

