<!DOCTYPE html>
<html>
  <head>
    <title>MyEvent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <% if flash[:error]%>
      <div class="field_with_errors">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= yield %>
    
    <h2><%= link_to "Home", root_path %></h2><br>

  </body>
</html>
